@page "/Account/RegisterConfirmation"

@using Microsoft.AspNetCore.Identity
@using RepositoryLibrary.Features.Users.Entities

@inject UserManager<EMUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>

<div class="row d-flex justify-content-center">
    <div class="col-12">
        <section>
            <RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
                <h1 class="text-primary">Welcome to RideReady!</h1>
                <hr />

                <StatusMessage Message="@statusMessage" />

                @if (statusMessage is null)
                {
                    <div class="alert alert-success" role="alert">
                        Your account has been created successfully.
                    </div>
                    <p>
                        Please check your email to confirm your account before logging in.
                    </p>
                }

                <div class="mt-3">
                    <a href="Account/Login" class="w-100 btn btn-lg btn-primary">Continue to log in</a>
                </div>
            </RadzenCard>
        </section>
    </div>
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }
}