@page "/admin/schools/{id:int}/view"
@attribute [Authorize(Roles = "Administrator")]

@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using RepositoryLibrary.Features.Images.Interfaces
@using RepositoryLibrary.Features.Schools.Entities
@using RepositoryLibrary.Features.Schools.Enums
@using RepositoryLibrary.Features.Schools.Interfaces
@inject ISchoolService SchoolService
@inject IImageService ImageService
@inject NavigationManager Nav
@inject NotificationService NotificationService

<RadzenCard Style="padding:1rem; max-width:700px; margin:auto">

    <h3>View School</h3>

    @if (school == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <SchoolsBase School="@school"
                     Mode="SchoolFormMode.View"
                     OnCancel="@(() => Nav.NavigateTo("/admin/schools"))"/>
    }

</RadzenCard>

@code {
    [Parameter] public int id { get; set; }

    private School school;

    protected override async Task OnInitializedAsync()
    {
        school = await SchoolService.GetSchoolByIdAsync(id);
    }   
}

