@page "/payments"
@using RideReady.Components.Payments
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@attribute [Authorize(Roles = "Administrator,Student")]

@code
{
    private string userRole { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userRole = user.Claims
            .FirstOrDefault(c => c.Type == ClaimTypes.Role)?
            .Value ?? "";
    }
}

@switch (userRole)
{
    case "Administrator":
        <AdminPayments />
        break;

    case "Teacher":
        <StudentPayments />
        break;

    default:
        <p>Role not recognized</p>
        break;
}
